.service img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  margin: 0.5rem 0 0.5rem 0;
}

.service ul {
  list-style: none;
}

.img-2 {
  object-position: 50% 30%;
}

.img-4 {
  object-position: 50% 25%;
}

.free-readings {
  margin: 1rem 0 1rem 0;
}

.free-readings li {
  margin-bottom: 0.5rem;
}

.services h3 {
  margin-bottom: 5px;
  padding-bottom: 5px;
  position: relative;
  margin-bottom: 0.5rem;
}

.services h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  background: purple;
  bottom: 0;
  left: 0;
}

.services h4 {
  margin-bottom: 5px;
  padding-bottom: 5px;
  position: relative;
  margin-bottom: 0.5rem;
}

.services h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 3px;
  background: #e07be0;
  bottom: 0;
  left: 0;
}

.zodaic {
  /* appearance: unset;
  -webkit-appearance: unset; */
  appearance: auto;
}
